.advertisement {
    width: 100%;
    height: 20rem;
    background-color: #dee2e1;
    overflow: hidden;
}

.advertisement .ads_banners {
    width: 100%;
    height: 100%;
    font-size: 0;
    white-space: nowrap;
    transform: translateX(15%);
    transition: 1s;
}

.advertisement .ads_banners li {
    display: inline-block;
    width: 70%;
    height: 100%;
    background-color: #ffffff;
    overflow: hidden;
    cursor: pointer;
}

.advertisement .ads_banners li img {
    width: 100%;
}

.advertisement .previous_btn {
    width: 4rem;
    height: 4rem;
    background-color: #ffffff;
    border: none;
    border-radius: 100%;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.05);
    float: left;
    transform: translate(230%, -12rem);
    cursor: pointer;
    overflow: hidden;
}

.advertisement .previous_btn img {
    height: 2rem;
    rotate: 180deg;
    opacity: .75;
    margin: 4px 4px 0 0;
}

.advertisement .next_btn {
    width: 4rem;
    height: 4rem;
    background-color: #000000;
    background-color: #ffffff;
    border: none;
    border-radius: 100%;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.05);
    float: right;
    transform: translate(-230%, -12rem);
    cursor: pointer;
    overflow: hidden;
}

.advertisement .next_btn img {
    height: 2rem;
    margin: auto;
    opacity: .75;
    margin: 4px 0 0 4px;
}