.side_navbar {
    display: flex;
    position: fixed;
    height: 100%;
    z-index: 5;
    transition: 2s;
    transform: translateX(-67%);
}

.side_navbar:has(.sidetab:hover, .sidebar:hover) {
    transform: translateX(0);
}

.side_navbar .sidebar {
    width: 8rem;
    height: 100%;
    background-color: #ffffff;
    z-index: 4;
    overflow: hidden;
}

.side_navbar .sidebar ul {
    padding-top: 1.5rem;
}

.side_navbar .sidebar ul li {
    display: block;
    width: 105px;
    height: 105px;
    background-color: #ffffff;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, .15);
    border-radius: 10%;
    margin: auto;
    margin-bottom: 1rem;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
    transition: .75s;
}

.side_navbar .sidebar ul li:hover {
    transform: scale(1.05);
}

.side_navbar .sidebar ul li img {
    height: 60%;
    margin-top: 10px;
    opacity: .82;
}

.side_navbar .sidebar ul li p {
    color: #2f2f2f;
    font-size: 1rem;
}

.side_navbar .sidetab {
    width: 4rem;
    height: 32%;
    background-color: #2f2f2f;
    border-radius: 2rem;
    margin: auto;
    transform: translateX(-50%);
    text-align: right;
}

.side_navbar .sidetab .lines {
    display: inline-flex;
    width: 25%;
    height: 100%;
    margin-right: 18%;
}

.side_navbar .sidetab .lines div {
    width: 17%;
    height: 40%;
    background-color: #ffffff;
    border-radius: 1rem;
    margin: auto;
}